@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-back-light: #E8EBE4;
  --color-task-light: #D2D5DD;
  --color-font-light: #2A2B2A;
  --color-edit-light: #B8BACF;
  --color-delete-light: #999AC6;
  --color-add-light: #00DD9E;

  --color-back-dark: #2A2B2A;
  --color-task-dark: #706C61;
  --color-font-dark: #F8F8F8;
  --color-edit-dark: #1F2041;
  --color-delete-dark: #4B3F72;
  --color-add-dark: #417B5A;

  --color-overdue: #FC0000;
  --color-ontime: #12029F;
  --color-unschedule: #85029F;

  --color-sunlight: #82C8E6;
  --color-sun: #FFDF22;
  --color-moonlight: #0B102B;
  --color-moon: #F6F1D5;
  --color-inactive-bg: #D9D9D9;
  --color-inactive: #FFFFFF;

  --font-noto-sans: "Noto Sans", serif;
  --font-cookie: "Cookie", cursive;

  --drop-shadow-basic: 1.5px 1.5px 1px rgba(0,0,0,0.25);
}