@import "tailwindcss";


/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@theme {
  --color-bg-light: #e8ebe4;
  --color-task-info-light: #D2D5DD;
  --color-task-edit-light: #b8bacf;
  --color-task-delete-light: #999ac6;
  --color-new-task-light: ##00dd9e;
  --color-font-light: #2a2b2a;
  
  --color-bg-dark: #2a2b2a;
  --color-task-info-dark: #706c61;
  --color-task-edit-dark: #1f2041;
  --color-task-delete-dark: #4b3f72;
  --color-new-task-dark: #417b5a;

  --color-sun-bg: #82C8E5;
  --color-sun-svg: #FFDF22;
  --color-moon-bg: #0B1026;
  --color-moon-svg: #FFEB78;

  --color-theme-inactive-bg: #D9D9D9;
  --color-theme-inactive-svg: #FFFFFF;
}